<div>
  <list-errors [errors]="errors"></list-errors>
  <form [formGroup]="authForm" (ngSubmit)="submitForm()">
    <fieldset [disabled]="isSubmitting">
      <fieldset class="form-group">
        <input
          formControlName="username"
          placeholder="Username"
          class="form-control form-control-lg"
          type="text"
          *ngIf="authType == 'register'" />
      </fieldset>
      <fieldset class="form-group">
        <input
          formControlName="email"
          placeholder="Email"
          class="form-control form-control-lg"
          type="text" />
      </fieldset>
      <fieldset class="form-group">
        <input
          formControlName="password"
          placeholder="Password"
          class="form-control form-control-lg"
          type="password" />
      </fieldset>
      <button class="btn btn-lg btn-primary pull-xs-right" [disabled]="!authForm.valid" type="submit">
        {{ title }}
      </button>
    </fieldset>
  </form>
</div>